<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matto.user.dao.IUserDao">
    <resultMap id="BaseResultMap" type="com.matto.user.pojo.TUser">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from t_user t WHERE t.user_id=#{id}
    </select>

    <!-- 创建订单 -->
    <insert id="createOrder" parameterType="java.util.ArrayList">
        INSERT INTO t_orders t (t.id, t.orderId,t.userId,t.mount,
        t.state,t.create_datetime,t.pay_datetime,t.deliver_datetime,t.amount,t.post_info_id,t.commodity_id,t.remark)
        <foreach collection="list" item="item" index="index"
                 open="" close="" separator="union">
            select sys_guid(),
            #{item.orderId} ,
            #{item.userId} ,
            #{item.mount} ,
            #{item.state} ,
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss') ,
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss') ,
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss') ,
            #{item.amount} ,
            #{item.post_info_id} ,
            #{item.commodity_id} ,
            #{item.remark,jdbcType=VARCHAR}
            FROM dual
        </foreach>
    </insert>

    <!-- 获取订单内商品列表 -->
    <select id="getOrderItems" parameterType="java.util.ArrayList" resultType="com.zlht.b2b2c.commodity.entity.CommodityEntity">
        SELECT *
        FROM t_commodity t
        WHERE
        <foreach collection="list" item="item" index="index"
                 open="" close="" separator="">
            t.id = #{item.commodity_id} OR
        </foreach>
        1 != 1
    </select>


    <!-- 删除订单 -->
    <update id="offOrder" parameterType="java.util.HashMap">
        UPDATE t_orders t SET t.state = #{state} WHERE t.userid = #{userId} AND t.orderid = #{orderId}
    </update>

    <!-- 根据userId，时间段查询订单 -->
    <select id="getOrderByDate" parameterType="java.util.HashMap" resultType="com.zlht.b2b2c.order.entity.OrderMessageEntity">
        SELECT 	t.orderid,
        t.create_datetime,
        t.state,
        t1.name,
        t1.id,
        t1.price,
        t1.shop_id,
        t1.unit,
        t2.name AS shop_name,
        t1.default_img AS commodityImage,
        t.mount as mount,
        t.amount ,
        t.userid ,
        t.create_DateTime ,
        t.pay_DateTime,
        t.deliver_DateTime ,
        t.post_Info_Id
        FROM 	t_orders t, t_commodity t1, t_shop t2
        WHERE 	t.userid = #{userId}
        AND		t.commodity_id = t1.id
        AND 	t1.shop_id = t2.id
        AND 	t.state != '6' AND
        t.create_DateTime>=#{fDate} and #{sDate}>=t.create_DateTime
        GROUP BY 	t.orderid,
        t.create_datetime,
        t.state,
        t1.name,
        t1.id,
        t1.price,
        t1.shop_id,
        t1.unit,
        t2.name,
        t1.default_img ,
        t.mount ,
        t.amount ,
        t.userid,
        t.create_DateTime ,
        t.pay_DateTime,
        t.deliver_DateTime ,
        t.post_Info_Id
        ORDER BY t.create_datetime DESC
    </select>
</mapper>